@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* prática comum em projetos web para resetar as margens e os preenchimentos 
padrões dos elementos HTML. Evitando inconsistencias de estilo entre navegadores*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}


/*Palheta de cores retirada de references\Trello-Palette.png */
/*Ferramentas usadas: ColorZilla e cssgradientgenerator.com */
body{
    min-height: 100vh;
    background: rgb(20,192,222);
    background: linear-gradient(175deg, rgba(20,192,222,1) 0%, rgba(120,101,212,1) 34%, rgba(254,176,226,1) 97%); 
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0069FD;
    padding: 25px;
}

.header h1{
    color: white;
}

.kanban-board{
    display: flex;
    width: 100%;
    height: 90vh;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.navbar .login-btn {
    background-color: #4c8aff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar .login-btn:hover {
    background-color: #3676e3;
}

.board-column{
    width: 300px;
    height: 100%;
    background-color: #dde0e4;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 12px 5px -3px rgb(0, 0, 0, 0.1);
}

.category-title{
    display: flex;
    color: white;
    padding-top: 5px ;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right:3px;
    text-align: center;
}

.add-task{
    background-color: transparent;
    border: none;
    color: white;
    margin-left: auto;
    cursor: pointer;
}

#to-do .category-title{
    background-color: rgb(86, 86, 86);
}
#in-progress .category-title{
    background-color: rgb(251, 117, 0);
}
#in-review .category-title{
    background-color:rgb(136, 170, 33)
}
#done .category-title{
    background-color: rgb(0, 152, 23);
}

.category-body{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-bottom: 60px;
}

/*Esses estilos são referentes ao formulario que aparece para adicionar uma tarefa.
  Estão na ordem em que aparecem no HTML. */
  #task-creator{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    inset: 0;
}

  .task-creator-box{
    background-color: white;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
}

.title{
    background-color: #0069FD;
    display: flex;
    justify-content:space-between;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
}

.title span{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#task-creator-close{
    border: none;
    background: none;
    padding-right: 10px;
    cursor: pointer;
}

.task-info{
    padding-top: 8px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 15px;
    
}

.task-info-field{
    margin-bottom: 12px;
}

.task-info label{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 5px;
}

.task-info textarea, .task-info input, .task-info button {  
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid grey;
}

#title{
    width: 100%;
    padding: 8px;
}

#description {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#deadline {
    width: 40%;
    padding: 8px;
}

#save-task , #alter-task {
    display: block;
    padding: 4px;
    margin-left: auto;
}

/*Estilos referentes ao card*/

.task-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 12px 5px -3px rgb(0, 0, 0, 0.1);
}

.task-card b{
    font-weight: 600;
    
}

#remove-task{
    background-color: transparent;
    border: none;
    margin-left: auto;
}
.card-info{
    display: flex;
}

